body {
  margin: 0;
  padding: 0;
  background: black;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bowl {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
  animation: move 8s infinite;
}

@keyframes move {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(-20deg);
  }
  67% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0);
  }
}

.bowl:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 26px;
  border-radius: 50%;
  background: black;
  border: 2px solid white;
  left: 50%;
  top: -29px;
  transform: translatex(-50%);
  z-index: 100;
}
.bowl:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 26px;
  background: black;
  border: 2px solid white;
  border-bottom: none;
  left: 50%;
  top: -16px;
  transform: translatex(-50%);
  z-index: 100;
}

.water {
  height: 240px;
  width: 240px;
  background: linear-gradient(to bottom, black 0% 50%, #2389da 50% 100%);
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 7px;
  animation: move1 8s infinite;
  z-index: -100;
}

@keyframes move1 {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(20deg);
  }
  67% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0);
  }
}

.water:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  background: #0f5e9c;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body {
  width: 140px;
  height: 40px;
  background: #33415c;
  border-radius: 50%;
  bottom: 36px;
  right: 58px;
  position: absolute;
}

.fin {
  width: 40px;
  height: 40px;
  position: absolute;
  background: #33415c;
  border-radius: 50%;
}

.fin.top {
  z-index: -100;
  transform: rotate(16deg);
  left: 50px;
  bottom: 28px;
  border-radius: 100% 0% 0% 0%;
}

.fin.bottom {
  z-index: -100;
  transform: rotate(-26deg);
  /* background: white; */
  left: 30px;
  bottom: -16px;
  border-radius: 0% 0% 0% 100%;
}

.fin-center {
  height: 30px;
  width: 2px;
  background: #60656f;
  border-radius: 100% 0% 0% 100%;
  position: absolute;
  left: 36px;
  top: 5px;
}
.fin-center:before {
  content: "";
  height: 30px;
  width: 2px;
  background: #60656f;
  border-radius: 100% 0% 0% 100%;
  position: absolute;
  left: 4px;
}
.fin-center:after {
  content: "";
  height: 30px;
  width: 2px;
  background: #60656f;
  border-radius: 100% 0% 0% 100%;
  position: absolute;
  left: 8px;
}

.eye {
  height: 5px;
  width: 8px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 14px;
  top: 10px;
}

.eye:before {
  content: "";
  background: black;
  height: 3px;
  width: 5px;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 1px;
}

.tail {
  width: 32px;
  height: 72px;
  position: absolute;
  right: -20px;
  bottom: -42px;
  z-index: -200;
  
}

.tail::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 40px;
  border-radius: 50%;
  background: #33415c;
  top: -10px;
}

.tail::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 38px;
  border-radius: 50%;
  background: #2389da;
  top: -8px;
  left: 16px;
}
